# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
**/top/mcmtr/mixin/
msd.accesswidener
fabric.mod.json
forge/src/main/java/top/mcmtr/mod
forge/src/main/resources/assets
forge/src/main/resources/META-INF