build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
checkouts/
fabric/src/main/java/top/mcmtr/mappings/
forge/src/main/java/top/mcmtr/mappings/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch